header {
    background-image: url(../images/Home.jpg);
    background-size: cover;
    background-position: center;
    min-height: 800px;
    display: flex;
    align-items: center;
    
}

body{
    background-color: #F5F5DC;
    font-family: 'Open Sans', sans-serif !important;

} 

h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif !important;
}

.navbar-custom{
    background-color: #F4C430;

}

h1{
   color: #F4C430;
   font-size: 5rem;
   font-weight:700;
}

#about-info {
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    margin-bottom: 100px;

}

#about-info .lead{
    color: #F4C430;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px
    
}

.footer-section{
    background-image: url(../images/evening_punjab.jpg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    display: flex;
    margin-top: 150px;
    
}

@media (max-width: 768px) {
    #about-info { font-size: 1.3 rem; }
    #about-info  .lead { font-size: 2 rem; }
        h1 { font-size: 3rem;  }
    
    }









