header, #about{
    background-color: rgb(191, 119, 240);
}

footer{
    background-color: #333132;
    background-image: url(../bsImages/scallop.png);
    background-repeat: repeat-x;
}

#about{
    background-image:url(../bsImages/backgrounds/Abstract-blue_0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}